.leaf {
  position: absolute;
  top: 0;
  width: 1366px;
  height: 768px;
  margin: auto;
  background-image: url("../imgs/home-leaf.png");
  background-repeat: no-repeat;
  background-position: center top;
}

@media (max-width: 768px) {
  .leaf {
    width: 747px;
    height: 1400px;
    background-image: url("../imgs/home-leaf-960.png");
    background-size: cover;
    top: -8%;
  }
}

@media (max-width: 414px) {
  .leaf {
    width: 414px;
    height: 735px;
    top: 0;
  }
}

@media (max-width: 375px) {
  .leaf {
    width: 360px;
    height: 640px;
  }
}

.content-block {
  background-image: url("../imgs/home-game-start.png");
  background-repeat: no-repeat;
  background-position: center -87px;
  background-size: contain;
  z-index: -1;
}

@media (max-width: 768px) {
  .content-block {
    background-image: url("../imgs/home-game-start-960.png");
    background-position: center -130px;
  }
}

@media (max-width: 414px) {
  .content-block {
    width: 408px;
    background-position: center -74px;
  }
}

@media (max-width: 375px) {
  .content-block {
    width: 360px;
    background-position: center -74px;
  }
}

.start-game {
  position: relative;
  top: -482px;
  left: 543px;
  width: 295px;
  height: 158px;
}

@media (max-width: 768px) {
  .start-game {
    top: -884px;
    left: 238px;
    width: 330px;
    height: 174px;
  }
}

@media (max-width: 414px) {
  .start-game {
    top: -68%;
    left: 126px;
    width: 183px;
    height: 100px;
  }
}

@media (max-width: 375px) {
  .start-game {
    top: -73%;
    left: 111px;
    width: 157px;
    height: 83px;
  }
}

.start-game-btn {
  display: block;
  width: 300px;
  height: 150px;
  background-color: transparent;
  color: transparent;
  cursor: pointer;
}

@media (max-width: 768px) {
  .start-game-btn {
    width: 100%;
    height: 100%;
    border: solid;
  }
}

.start-game-btn:hover {
  border: solid 1px #cccccc;
}

.ok-man-box {
  position: relative;
  width: 30%;
  height: 82%;
  -webkit-animation: home-ok-man 6s ease 0s infinite alternate none;
  animation: home-ok-man 6s ease 0s infinite alternate none;
}

@media (max-width: 768px) {
  .ok-man-box {
    height: 60%;
    top: 224px;
    left: 26px;
  }
}

@media (max-width: 414px) {
  .ok-man-box {
    top: 11%;
    left: -1%;
  }
}

@media (max-width: 375px) {
  .ok-man-box {
    left: -2%;
  }
}

.ok-man {
  position: relative;
  top: 59%;
  left: 43%;
  width: 261px;
  height: 238px;
}

@media (max-width: 768px) {
  .ok-man {
    top: 77%;
    left: 25%;
  }
  .ok-man > img {
    width: 75%;
  }
}

@media (max-width: 414px) {
  .ok-man > img {
    width: 60%;
  }
}

@media (max-width: 375px) {
  .ok-man > img {
    width: 50%;
  }
}

.ok-man-talk {
  position: relative;
  top: -4%;
  left: 27%;
  width: 247px;
  height: 182px;
}

@media (max-width: 768px) {
  .ok-man-talk {
    top: 33%;
    left: 8%;
  }
  .ok-man-talk > img {
    width: 70%;
  }
}

@media (max-width: 414px) {
  .ok-man-talk {
    top: 6%;
  }
  .ok-man-talk > img {
    width: 50%;
  }
}

@media (max-width: 375px) {
  .ok-man-talk {
    top: -1%;
  }
  .ok-man-talk > img {
    width: 44%;
  }
}

.dog {
  position: relative;
  width: 182px;
  height: 239px;
  top: -88%;
  left: 58%;
  -webkit-animation: home-dog 4s ease 0s infinite alternate none;
  animation: home-dog 4s ease 0s infinite alternate none;
}

@media (max-width: 768px) {
  .dog {
    top: -20%;
    left: 54%;
  }
  .dog > img {
    width: 70%;
  }
}

@media (max-width: 414px) {
  .dog {
    top: -27%;
    left: 48%;
  }
  .dog > img {
    width: 50%;
  }
}

@media (max-width: 375px) {
  .dog {
    top: -25%;
    left: 48%;
    width: 100px;
    height: 100px;
  }
  .dog > img {
    width: 80%;
  }
}

.monster {
  position: relative;
  width: 402px;
  height: 400px;
  top: -55%;
  left: 64%;
  -webkit-animation: home-monster 6s ease 0s infinite alternate none;
  animation: home-monster 6s ease 0s infinite alternate none;
}

@media (max-width: 768px) {
  .monster {
    top: -10%;
    left: 62%;
    width: 300px;
    height: 300px;
  }
  .monster > img {
    width: 100%;
  }
}

@media (max-width: 414px) {
  .monster {
    top: -11%;
    left: 60%;
    width: 175px;
    height: 175px;
  }
  .monster > img {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .monster {
    top: -10%;
    left: 60%;
    width: 150px;
    height: 150px;
  }
  .monster > img {
    width: 100%;
  }
}

/*# sourceMappingURL=index.css.map */